<div class="container">

  <div class="panel">

    <div class="profileRight medium-6 right">
      <div class="meishi">
        <h1><span class="fa fa-star"></span> Adminis</h1>
        <br>
        <h3 class="scheduled">
          <span class="fa fa-calendar-plus-o"></span>
          <span> 6:00 PM Friday, Oct 2, 2015 </span>
        </h3>
        <br>
        <h4>
          <span class="maybe on"><i class="fa fa-pause-circle"></i></span>
          <span>Still requesting 3 people for this event</span>
        </h4>
        <ul class="staffClasses"><li>House</li><li> * Piano</li><li> * Host</li> </ul>
      </div>
      <br>
      <p> Event Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur cumque deleniti distinctio dolorem dolores explicabo ipsam minus modi neque pariatur praesentium quaerat qui recusandae sequi, sit totam unde voluptas?
      </p>
    </div>


    <div class="deetsLeft medium-6">
      <h1><span class="fa fa-users"></span> Staff</h1>
      <span>If you can not attend an accepted event, please contact staff@madeuptheatre.com asap</span>
      <br>
      <br>
      <h4>Cast</h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Bobby August Jr.</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Dustin Seidler</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Sean Johnson</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Ben Stevens</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Karen Never Hosts</span>
          </a>
        </li>

        </li>

        <li class="usersOnDeck">
        <li class="requestHeading maybe">
          <i class="fa fa-pause-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Kyle Swany</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Carolyn</span>
          </a>
        </li>

        </li>

        <li class="usersDeclined">
        <li class="requestHeading no">
          <i class="fa fa-times-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">That one dude I haven't seen</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">My cat</span>
          </a>
        </li>

        </li>
      </ul>
      <h4>Tech</h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Jameela Of Course</span>
          </a>
        </li>

        </li>

        <li class="usersOnDeck">
        <li class="requestHeading maybe">
          <i class="fa fa-pause-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Art... Always</span>
          </a>
        </li>

        </li>

        <li class="usersDeclined">
        <li class="requestHeading no">
          <i class="fa fa-times-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">That one dude I haven't seen</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">My cat</span>
          </a>
        </li>

        </li>
      </ul>

      <h4>House</h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Jameela Of Course</span>
          </a>
        </li>

        </li>

        <li class="usersOnDeck">
        <li class="requestHeading maybe">
          <i class="fa fa-pause-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Art... Always</span>
          </a>
        </li>

        </li>

        <li class="usersDeclined">
        <li class="requestHeading no">
          <i class="fa fa-times-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">That one dude I haven't seen</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">My cat</span>
          </a>
        </li>

        </li>
      </ul>

      <h4>Piano</h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Neil!!!</span>
          </a>
        </li>

        </li>
      </ul>
    </div>
  </div>
</div>


  </div>
</div>