<link rel="stylesheet" href="css/deets.css">

<div class="container">

  <div class="panel">



    <div class="profileRight medium-6 right">
      <div class="meishi">
        <h1 class="eventName">
          <i class="fa fa-lock"></i>
          </span>Event Name like Five Play or Made-Up-Shakespeare</h1>
        <br>
        <h3 class="scheduled">
          <span class="fa fa-calendar-plus-o"></span>
          <span> 6:00 PM Friday, Oct 2, 2015 </span>
        </h3>
        <br>
        <h4>
          <span class="maybe on"><i class="fa fa-pause-circle"></i></span>
          <span>Still requesting 3 people for this event</span>
        </h4>
        <ul class="staffClasses"><li>House</li><li> * Piano</li><li> * Host</li> </ul>
      </div>
      <br>
      <p> Event Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur cumque deleniti distinctio dolorem dolores explicabo ipsam minus modi neque pariatur praesentium quaerat qui recusandae sequi, sit totam unde voluptas?
        </p>
    </div>


    <div class="deetsLeft medium-6">
      <h1><span class="fa fa-users"></span> Staff</h1>
      <span>This event is locked. If you can not attend an accepted event, please contact staff@madeuptheatre.com</span>
      <br>
      <br>
      <h4>Cast <i class="fa fa-plus"></i></h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Bobby August Jr.</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Dustin Seidler</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Sean Johnson</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Ben Stevens</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Karen Never Hosts</span>
          </a>
        </li>

        </li>

        <li class="usersOnDeck">
        <li class="requestHeading maybe">
          <i class="fa fa-pause-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Kyle Swany</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Carolyn</span>
          </a>
        </li>

        </li>

        <li class="usersDeclined">
        <li class="requestHeading no">
          <i class="fa fa-times-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">That one dude I haven't seen</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">My cat</span>
          </a>
        </li>

        </li>
      </ul>
        <h4>Tech <i class="fa fa-plus"></i></h4>
        <ul class="usersRequested">
          <li class="usersScheduled">

            <li class="requestHeading yes">
              <i class="fa fa-check-circle"></i>
            </li>

            <li class="userLineItem">
              <a href="#/profile">
                <i class="fa fa-github"></i>
                <span class="userName">Jameela Of Course</span>
              </a>
            </li>

          </li>

          <li class="usersOnDeck">
            <li class="requestHeading maybe">
              <i class="fa fa-pause-circle"></i>
            </li>

            <li class="userLineItem">
              <a href="#/profile">
                <i class="fa fa-github"></i>
                <span class="userName">Art... Always</span>
              </a>
            </li>

          </li>

          <li class="usersDeclined">
            <li class="requestHeading no">
              <i class="fa fa-times-circle"></i>
            </li>

            <li class="userLineItem">
              <a href="#/profile">
                <i class="fa fa-github"></i>
                <span class="userName">That one dude I haven't seen</span>
              </a>
            </li>

            <li class="userLineItem">
              <a href="#/profile">
                <i class="fa fa-github"></i>
                <span class="userName">My cat</span>
              </a>
            </li>

          </li>
        </ul>

        <div class="staffHeader">
          <form class="addStaff">

              <div class="row">
                <div class="small-8">
                  <div class="row">
                    <div class="small-3 columns">
                      <label class="right"><h4>House</h4></label>
                    </div>
                    <div class="small-6 columns">
                      <select>
                        <option>None Selected </option>
                        <option>Miss Person</option>
                        <option>Mister Person </option>
                        <option>Miss Person</option>
                      </select>
                      <!--<input type="text" id="right-label" placeholder="Inline Text Input">-->
                    </div>
                    <div class="medium-3 columns">
                      <button><h4><i class="fa fa-plus"></i></h4></button>
                    </div>
                  </div>
                </div>
              </div>


          </form>
        </div>



      <ul class="usersRequested">
        <li class="usersScheduled">

          <li class="requestHeading yes">
            <button ng-click="adminPrompt()">
              <i class="fa fa-check-circle"></i>
            </button>
          </li>

          <li class="userLineItem">
            <a href="#/profile">
              <i class="fa fa-github"></i>
              <span class="userName">Jameela Of Course</span>
            </a>
          </li>

        </li>

        <li class="usersOnDeck">
        <li class="requestHeading maybe">
          <i class="fa fa-pause-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Art... Always</span>
          </a>
        </li>

        </li>

        <li class="usersDeclined">
        <li class="requestHeading no">
          <i class="fa fa-times-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">That one dude I haven't seen</span>
          </a>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">My cat</span>
          </a>
        </li>

        </li>
      </ul>

        <h4>Piano <i class="fa fa-plus"></i></h4>
      <ul class="usersRequested">
        <li class="usersScheduled">

        <li class="requestHeading yes">
          <i class="fa fa-check-circle"></i>
        </li>

        <li class="userLineItem">
          <a href="#/profile">
            <i class="fa fa-github"></i>
            <span class="userName">Neil!!!</span>
          </a>
        </li>

        </li>
      </ul>
      </div>
    </div>
  </div>

  </div>
</div>