<link rel="stylesheet" href="css/profile.css">
<div class="container">

  <div class="panel">

    <div class="profileRight medium-6 right">
      <div class="meishi">
        <h1 class="name"><span class="fa fa-user"></span>User McUser</h1>
        <span class="memberSince">Member since: 10/10/10</span>
        <span class="designations">Designations: Tech * Cast * House * Host</span>
      </div>
      <br>
      <br>
      <div class="pending">
        <h1>Want a Gig?</h1>
        <h4>Host</h4>
        <ul>
          <li>
            <p class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes"><i class="fa fa-check"></i></button>
              <button name="isAttending" value="maybe" class="maybe"><i class="fa fa-pause-circle"></i></button>
              <button name="isAttending" value="no" class="no"><i class="fa fa-times"></i></button>
            </p>
            <a href="#/deets">
              <p class="deets">6:00 PM Friday, Oct 2, 2015 - The one I can't remember the name of / Five Play</p>
            </a>
          </li>

          <li>
            <p class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes"><i class="fa fa-check-circle"></i></button>
              <button name="isAttending" value="maybe" class="maybe"><i class="fa fa-pause"></i></button>
              <button name="isAttending" value="no" class="no"><i class="fa fa-times"></i></button>
            </p>
            <a href="#/deets">
              <p class="deets">6:00 PM Friday, Oct 2, 2015 - The one I can't remember the name of / Five Play</p>
            </a>
          </li>

          <li>
            <p class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes"><i class="fa fa-check"></i></button>
              <button name="isAttending" value="maybe" class="maybe"><i class="fa fa-pause"></i></button>
              <button name="isAttending" value="no" class="no"><i class="fa fa-times-circle"></i></button>
            </p>
            <a href="#/deets">
              <p class="deets">6:00 PM Friday, Oct 2, 2015 - The one I can't remember the name of / Five Play</p>
            </a>
          </li>

        </ul>
      </div>
    </div>


  <div class="profileLeft medium-6">
      <div class="accepted">
        <h1>Locked and Loaded</h1>
        <span>If you can not attend an event you are scheduled for please contact staff@madeuptheatre.com asap</span>
        <br>
        <br>
        <h4>Tech</h4>
        <ul>
          <li>
            <span class="maybe on"><i class="fa fa-pause-circle"></i></span>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
          </li>
          <li>
            <span class="yes on"><i class="fa fa-check-circle"></i></span>
            <a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
        </ul>

        <h4>Cast</h4>
        <ul>
          <li>
            <span class="yes on"><i class="fa fa-check-circle"></i></span>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
          </li>

          <li>
            <span class="yes on"><i class="fa fa-check-circle"></i></span>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
           </a>
          </li>
        </ul>

        <h4>House</h4>
        <ul>
          <li>
            <span class="yes on"><i class="fa fa-check-circle"></i></span>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
          </li>

          <li>
            <span class="maybe on"><i class="fa fa-pause-circle"></i></span>
            <a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
        </ul>

        <h4>Piano</h4>
        <ul>
          <li>
            <span class="maybe on"><i class="fa fa-pause-circle"></i></span>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>