<link rel="stylesheet" href="css/profile.css">
<div class="container">

  <div class="panel">

    <div class="profileRight medium-6 right">
      <div class="meishi">
        <h1 class="name"><span class="fa fa-user"></span>User McUser</h1>
        <span class="memberSince">Member since: 10/10/10</span>
      </div>
      <br>
      <br>
      <div class="pending">
        <h1>Events Pending</h1>
        <h4>Host</h4>
        <ul>
          <li>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
            <span class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes on"><i class="fa fa-check-circle"></i></button>
              <button name="isAttending" value="maybe" class="maybe off"><i class="fa fa-question"></i></button>
              <button name="isAttending" value="no" class="no off"><i class="fa fa-times"></i></button>
            </span>
          </li>

          <li>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
            <span class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes off"><i class="fa fa-check"></i></button>
              <button name="isAttending" value="maybe" class="maybe on"><i class="fa fa-question-circle"></i></button>
              <button name="isAttending" value="no" class="no off"><i class="fa fa-times"></i></button>
            </span>
          </li>

          <li>
            <a href="#/deets">
              <span class="time">6:00 PM </span>
              <span class="day">Friday, </span>
              <span class="date">Oct 2, 2015 -</span>
              <span class="show">The one I can't remember the name of / Five Play</span>
            </a>
            <span class="yesNoMaybe">
              <button name="isAttending" value="yes" class="yes off"><i class="fa fa-check"></i></button>
              <button name="isAttending" value="maybe" class="maybe off"><i class="fa fa-question"></i></button>
              <button name="isAttending" value="no" class="no on"><i class="fa fa-times-circle"></i></button>
            </span>
          </li>

        </ul>
      </div>
    </div>


  <div class="profileLeft medium-6">
      <div class="accepted">
        <h1>Events Accepted</h1>

        <h4>Tech</h4>
        <ul>
          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
        </ul>

        <h4>Cast</h4>
        <ul>
          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>

          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
        </ul>

        <h4>House</h4>
        <ul>
          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>

          <li><a href="#/deets">
            <span class="time">6:00 PM </span>
            <span class="day">Friday, </span>
            <span class="date">Oct 2, 2015 -</span>
            <span class="show">The one I can't remember the name of / Five Play</span>
          </a></li>
        </ul>

        <h4>Piano</h4>
        <li><a href="#/deets">
          <span class="time">6:00 PM </span>
          <span class="day">Friday, </span>
          <span class="date">Oct 2, 2015 -</span>
          <span class="show">The one I can't remember the name of / Five Play</span>
        </a></li>
      </div>
    </div>
  </div>
</div>