.profileRight, .profileLeft {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.designations {
  display: block;
}

p.deets {
  color: #008CBA;;
}

.addStaff {
  width: 50%;
}