/*.groupName {*/
  /*float: left;*/
/*}*/

/*.*/
body {
  font-size: 14px;
  color: white;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  background-image: url("../images/purple.jpg");
  background-size: cover;
}

#wrap {
  width: 1100px;
  margin: 0 auto;
}

.events {
  margin-bottom: 10px;
  float: left;
  width: 160px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

.events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

.events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

.events p input {
  margin: 0;
  vertical-align: middle;
}

/*yes no maybe buttons*/
button.on, button.off {
  background: none;
  padding: 0;
}

.yes.on {
  color: green;
}

.yes.off {
  color: green;
  opacity: .4;
}

.maybe.on {
  color: gold;

}

.maybe.off {
  color: gold;
  opacity: .7;
}

.no.on {
  color: red;
}

.no.off {
  color: darkred;
  opacity: .3;
}



#calendar {
  float: right;
  width: 900px;
}

.fc-center h2 {
  color: aliceblue;
}

.fc-head table {
  margin-bottom: 0;
}



.panel.headBar h4 {
  color: aliceblue;
}

.headBar {
  background-color: black;
  color: white;
  font-weight: bold;
}

.button {
  border-radius: 5px;
}

/*body {*/
 /*margin: 40px 10px;*/
 /*padding: 0;*/
 /*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
 /*font-size: 14px;*/
/*}*/

/*#calendar {*/
  /*max-width: 900px;*/
  /*margin: 0 auto;*/
/*}*/

